* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Inter';
}

body {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    height: 100vh;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: #fcd68a;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 550px;
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 15px;
}

.subtitle {
    color: #555;
    font-size: 14px;
    text-align: center;
    margin-bottom: 60px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #888;
}

.input-group input {
    width: 100%;
    padding: 12px 12px 12px 38px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.forgot {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #555;
    text-decoration: none;
    margin-bottom: 30px;
}

.forgot:hover {
    color: rgb(82, 39, 143);
    text-decoration: underline;
}

.login-btn {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #f5c22b;
    color: #333;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.or {
    font-size: 12px;
    color: #555;
    margin-bottom: 10px;
}

/* SOCIAL BUTTON CONTAINER */
.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* UNIVERSAL BUTTON STYLE */
.social-buttons button {
    width: 49%;
    height: 45px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

/* UNIVERSAL HOVER EFFECT */
.social-buttons button:hover {
    background-color: #f5c22b;
    transform: translateY(-2px);
}

/* --------------------------- */
/*      GOOGLE BUTTON STYLE     */
/* --------------------------- */
.google img {
    width: 22px;      /* Change size here */
    height: 22px;
    object-fit: contain;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.google-btn img {
    width: 22px;
    height: 22px;
}


/* --------------------------- */
/*     FACEBOOK BUTTON STYLE    */
/* --------------------------- */
.facebook img {
    width: 15px;      /* Bigger Facebook logo */
    height: 26px;
    object-fit: contain;
}

.facebook-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #1877f2;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.facebook-btn img {
    width: 22px;
    height: 22px;
}



.label {
    text-align: left;
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
    margin-top: 10px;
}